.card{
    display: flex;
    
    border-radius: 18px;
    position: relative;
    padding:10px;
    align-items: center;
    margin-top: 10px;
}
h3{
    padding: 10px;
}
.card img {
    font-size: xx-large;
}