.home{
    background-color: rgb(188, 223, 229);
}
.home_input {
    width: 60vw;
    height: 6vh;
    margin-left: 25vw;
    margin-top: 72vh;
    border-radius: 20px;
    padding-left: 20px;
    font-size: larger;
}
.sendicon{
    position: absolute;
    left: 84vw;
    top:92vh;
    font-size: 20px;
}
.sendfile{
    position: absolute;
    left: 82vw;
    top:92vh;
    font-size: 20px;
}
.cameraicon{
    position: absolute;
    left: 80vw;
    top:92vh;
    font-size: 20px;
}
.micicon{
    position: absolute;
    left: 88vw;
    top:90.5vh;
    font-size: 20px;
    background-color: grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat{
    overflow-y: scroll;
}