.menu{
    width: 20vw;
    height: 100vh;
    background-color: blanchedalmond;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    top: 1px;
    flex-direction: column;
    padding-top: 10px;
    overflow-y: scroll;
}
.menu_input {
    position: relative;
    margin-left: 10px;
    width: 80%;
    height: 10px;
    border-radius: 10px;
    padding: 10px;
}
.searchicon{
    position: absolute;
    top: 20px;
    left:83%;
}