.menu {
    width: 20vw;
    height: 98.5vh;
    background-color: blanchedalmond;
    position: absolute;
    padding-top: 10px;
  }
  
  .menu_input {
    position: relative;
    margin-left: 10px;
    width: 80%;
    height: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .searchicon {
    position: absolute;
    top: 20px;
    left: 83%;
  }
  
  .search {
    position: relative;
  }
  
  .names {
    min-height: 93vh;
    z-index: 0;
    overflow-y: scroll;
    max-height: 70vh; /* Adjust the max-height based on your design */
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .names::-webkit-scrollbar {
    width: 6px;
  }
  
  .names::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  